ejemplo/Authorize.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Authorize"
 targetNamespace="urn:Authorize/Authorize.wsdl"
 xmlns:tns="urn:Authorize/Authorize.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:Authorize"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:Authorize"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:Authorize"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="AuthorizeRequest">
   <complexType>
    <sequence>
     <element name="SessionID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="URL_OK" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="URL_ERROR" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="EncodingMethod" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
     <element name="Payload" type="xsd:anyType" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AuthorizeRequestResponse">
   <complexType>
    <sequence>
     <element name="Status" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="URL_Request" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="RequestKey" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="AuthorizeAnswer">
   <complexType>
    <sequence>
     <element name="SessionID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="RequestKey" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="AnswerKey" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="AuthorizeAnswerResponse">
   <complexType>
    <sequence>
     <element name="Status" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="EncodingMethod" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
     <element name="Payload" type="xsd:anyType" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="AuthorizeRequest">
 <part name="parameters" element="ns:AuthorizeRequest"/>
</message>

<message name="AuthorizeRequestResponse">
 <part name="parameters" element="ns:AuthorizeRequestResponse"/>
</message>

<message name="AuthorizeAnswer">
 <part name="parameters" element="ns:AuthorizeAnswer"/>
</message>

<message name="AuthorizeAnswerResponse">
 <part name="parameters" element="ns:AuthorizeAnswerResponse"/>
</message>


<portType name="AuthorizePortType">
 <operation name="AuthorizeRequest">
  <documentation>Service definition of function ns__AuthorizeRequest</documentation>
  <input message="tns:AuthorizeRequest"/>
  <output message="tns:AuthorizeRequestResponse"/>
 </operation>
 <operation name="AuthorizeAnswer">
  <documentation>Service definition of function ns__AuthorizeAnswer</documentation>
  <input message="tns:AuthorizeAnswer"/>
  <output message="tns:AuthorizeAnswerResponse"/>
 </operation>
</portType>

<binding name="Authorize" type="tns:AuthorizePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="AuthorizeRequest">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="AuthorizeAnswer">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Authorize">
 <documentation>Decidir Authorization Service</documentation>
 <port name="Authorize" binding="tns:Authorize">
  <SOAP:address location="https://200.69.248.51:9443/services/t/decidir.net/Authorize.AuthorizeHttpsSoap12Endpoint"/>
 </port>
</service>

</definitions>
